* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'League Spartan', sans-serif;
	background-color: #29303b;
}

.wrapper {
	padding: 50px;
	width: 800px;
	background-image: linear-gradient(#3f4b59, #333d46);
	color: #fff;
	text-align: center;
	border: 1px solid #1c232d;
	border-radius: 15px;
	box-shadow: 0 0 15px #1c232d;
}

.wrapper h1 {
	color: #e7c3d8;
	margin-bottom: 10px;
	font-size: 36px;
}

.wrapper p {
	margin-bottom: 50px;
	font-size: 26px;
	font-weight: 200;
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-left,
.section-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-body input {
	margin-bottom: 10px;
	width: 100%;
	font-size: 60px;
}

.app-body input,
.app-body select {
	color: #fff;
	border: none;
	background: none;
	text-align: center;
}

.app-body select {
	padding: 10px 20px;
	font-size: 36px;
	cursor: pointer;
}

.app-body input:focus,
.app-body select:focus {
	outline: none;
	color: #e7c3d8;
}

.app-body option {
	color: #333;
}

.swap {
	align-self: flex-end;
	margin: 5px;
	padding: 5px 50px;
	background-image: linear-gradient(45deg, #e72b80, #e7c3d8);
	font-size: 30px;
	border: none;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
}

.swap:focus {
	outline: none;
	background-image: linear-gradient(45deg, #bb2166, #b797a9);
}

.wrapper .rate-info {
	margin-top: 30px;
	margin-bottom: 0;
}

